<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menu</title>
    <!-- Header Link File Start -->
    <%-header_tags %>
    <!-- Header Link File End -->
</head>

<style>
    .loading-page-div {
        width: 150px;
        height: 150px;
        background-color: white;
    }
</style>

<body>

    <!-- Container Div Start -->
    <div class="container-fluid">
        <div class="row">

            <!-- Body Content Start -->
            <div class="col-12 vh-100 d-flex justify-content-center align-items-center bg-secondary gap-5">

                <!-- Box 01 Start -->
                <div class="loading-page-div row m-4">

                </div>
                <!-- Box 01 End -->

                <!-- Box 02 Start -->
                <div class="loading-page-div row m-4">

                </div>
                <!-- Box 02 End -->

                <!-- Box 03 Start -->
                <div class="loading-page-div row m-4">

                </div>
                <!-- Box 03 End -->

                <!-- Box 04 Start -->
                <div class="loading-page-div row m-4">

                </div>
                <!-- Box 04 End -->

            </div>
            <!-- Body Content End -->

        </div>
    </div>
    <!-- Container Div End -->

</body>

</html>